Node-Red/motorControl.json
[{"id":"7a3fc077.94b8c","type":"tab","label":"READ DATA FROM PLC","disabled":false,"info":""},{"id":"dcfbba4c.b4af38","type":"tab","label":"WRITE DATA TO PLC","disabled":false,"info":""},{"id":"2a74798b.2447a6","type":"tab","label":"Data Processing","disabled":false,"info":""},{"id":"40b78cfe.a17044","type":"tab","label":"Test program","disabled":false,"info":""},{"id":"245c0c74.e43304","type":"tab","label":"AWS CLOUD","disabled":false,"info":""},{"id":"9f5d390a.977fa8","type":"modbus-client","name":"PLC Micro 850","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyS3","serialType":"RTU","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e4490e95.aa916","type":"modbus-client","name":"modbus rtu","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM3","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"even","serialConnectionDelay":"1","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"491a152a.61543c","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.0.10:49320","secpol":"None","secmode":"None","login":false},{"id":"90890eb45076acb6","type":"amazon config","name":"Device","region":"us-east-1","proxyRequired":false,"proxy":""},{"id":"492a09ff.41a548","type":"OpcUa-Client","z":"7a3fc077.94b8c","endpoint":"491a152a.61543c","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":420,"y":340,"wires":[["1df42b78.2f9c55","a9c0bc65.86856","dd639f24.6ca69","4f19093b.e33d58","27b2f156.6770ce","bb424c32.421e6","186d0b4c.7596a5","3b70b0af.4501b","280708d6.c7ff38","6c75ba38.ad8994","835e7396.68ca9","8197238d.651f8"]]},{"id":"9cb1f4e.7895608","type":"OpcUa-Item","z":"7a3fc077.94b8c","item":"ns=2;s=AB PLC.MICRO850.Status","datatype":"Boolean","value":"","name":"STATUS","x":260,"y":220,"wires":[["492a09ff.41a548"]]},{"id":"158c1be5.725e54","type":"OpcUa-Item","z":"7a3fc077.94b8c","item":"ns=2;s=AB PLC.MICRO850.ID","datatype":"UInt16","value":"","name":"ID","x":250,"y":260,"wires":[["492a09ff.41a548"]]},{"id":"d7309b0b.2ada18","type":"OpcUa-Item","z":"7a3fc077.94b8c","item":"ns=2;s=AB PLC.MICRO850.Kp_IOT_UP_1","datatype":"Float","value":"","name":"Kp","x":250,"y":300,"wires":[["492a09ff.41a548"]]},{"id":"675c21c0.565e","type":"OpcUa-Item","z":"7a3fc077.94b8c","item":"ns=2;s=AB PLC.MICRO850.Ki_IOT_UP_1","datatype":"Float","value":"","name":"Ki","x":250,"y":340,"wires":[["492a09ff.41a548"]]},{"id":"37f2d056.adda5","type":"OpcUa-Item","z":"7a3fc077.94b8c","item":"ns=2;s=AB PLC.MICRO850.Kd_IOT_UP_1","datatype":"Float","value":"","name":"Kd","x":250,"y":380,"wires":[["492a09ff.41a548"]]},{"id":"873fb880.ff9508","type":"OpcUa-Item","z":"7a3fc077.94b8c","item":"ns=2;s=AB PLC.MICRO850.Sts_SpeedFeedback","datatype":"Float","value":"","name":"PV","x":250,"y":420,"wires":[["492a09ff.41a548"]]},{"id":"fdbf1f37.fff4f","type":"OpcUa-Item","z":"7a3fc077.94b8c","item":"ns=2;s=AB PLC.MICRO850.Raw_Distance","datatype":"Float","value":"","name":"CV","x":250,"y":460,"wires":[["492a09ff.41a548"]]},{"id":"58c17112.13c36","type":"OpcUa-Item","z":"7a3fc077.94b8c","item":"ns=2;s=AB PLC.MICRO850.Desired_Position","datatype":"Float","value":"","name":"SP","x":250,"y":500,"wires":[["492a09ff.41a548"]]},{"id":"71e2e565.85491c","type":"inject","z":"7a3fc077.94b8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":460,"wires":[["fdbf1f37.fff4f"]]},{"id":"1df42b78.2f9c55","type":"function","z":"7a3fc077.94b8c","name":"","func":"if(msg.topic == \"ns=2;s=AB PLC.MICRO850.Status\")\n{\n    global.set(\"STATUS\",msg.payload);\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.get(\"STATUS\")||0;","finalize":"","x":600,"y":220,"wires":[["359d45fb.18a39a"]]},{"id":"359d45fb.18a39a","type":"debug","z":"7a3fc077.94b8c","name":"STATUS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":220,"wires":[]},{"id":"a9c0bc65.86856","type":"function","z":"7a3fc077.94b8c","name":"","func":"if(msg.topic == \"ns=2;s=AB PLC.MICRO850.ID\")\n{\n    global.set(\"ID\",msg.payload);\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.get(\"ID\")||0;","finalize":"","x":600,"y":260,"wires":[["e68601c3.1fcc"]]},{"id":"e68601c3.1fcc","type":"debug","z":"7a3fc077.94b8c","name":"ID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":260,"wires":[]},{"id":"dd639f24.6ca69","type":"function","z":"7a3fc077.94b8c","name":"","func":"if(msg.topic == \"ns=2;s=AB PLC.MICRO850.Kp_IOT_UP_1\")\n{\n    global.set(\"Kp\",msg.payload);\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.get(\"Kp\")||0;","finalize":"","x":600,"y":300,"wires":[["fe3d468.fccabb8"]]},{"id":"fe3d468.fccabb8","type":"debug","z":"7a3fc077.94b8c","name":"Kp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":300,"wires":[]},{"id":"4f19093b.e33d58","type":"function","z":"7a3fc077.94b8c","name":"","func":"if(msg.topic == \"ns=2;s=AB PLC.MICRO850.Ki_IOT_UP_1\")\n{\n    global.set(\"Ki\",msg.payload);\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.get(\"Ki\")||0;","finalize":"","x":600,"y":340,"wires":[["c26c2f05.6b384"]]},{"id":"c26c2f05.6b384","type":"debug","z":"7a3fc077.94b8c","name":"Ki","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":340,"wires":[]},{"id":"27b2f156.6770ce","type":"function","z":"7a3fc077.94b8c","name":"","func":"if(msg.topic == \"ns=2;s=AB PLC.MICRO850.Kd_IOT_UP_1\")\n{\n    global.set(\"Kd\",msg.payload);\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.get(\"Kd\")||0;","finalize":"","x":600,"y":380,"wires":[["840e5cc4.1dd28"]]},{"id":"840e5cc4.1dd28","type":"debug","z":"7a3fc077.94b8c","name":"Kd","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":380,"wires":[]},{"id":"bb424c32.421e6","type":"function","z":"7a3fc077.94b8c","name":"","func":"if(msg.topic == \"ns=2;s=AB PLC.MICRO850.Sts_SpeedFeedback\")\n{\n    global.set(\"PV\",msg.payload);\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.get(\"PV\")||0;","finalize":"","x":600,"y":420,"wires":[["6e81874.4145f78"]]},{"id":"6e81874.4145f78","type":"debug","z":"7a3fc077.94b8c","name":"PV","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":420,"wires":[]},{"id":"186d0b4c.7596a5","type":"function","z":"7a3fc077.94b8c","name":"","func":"if(msg.topic == \"ns=2;s=AB PLC.MICRO850.Raw_Distance\")\n{\n    global.set(\"CV\",msg.payload);\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.get(\"CV\")||0;","finalize":"","x":600,"y":460,"wires":[["745db4d6.3cf39c"]]},{"id":"745db4d6.3cf39c","type":"debug","z":"7a3fc077.94b8c","name":"CV","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":460,"wires":[]},{"id":"3b70b0af.4501b","type":"function","z":"7a3fc077.94b8c","name":"","func":"if(msg.topic == \"ns=2;s=AB PLC.MICRO850.Desired_Position\")\n{\n    global.set(\"SP\",msg.payload);\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.get(\"SP\")||0;","finalize":"","x":600,"y":500,"wires":[["15e3dcb6.881ac3"]]},{"id":"15e3dcb6.881ac3","type":"debug","z":"7a3fc077.94b8c","name":"SP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":500,"wires":[]},{"id":"593c262f.84c508","type":"OpcUa-Client","z":"dcfbba4c.b4af38","endpoint":"491a152a.61543c","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE DATA","x":880,"y":160,"wires":[["8e75eb01.538d68"]]},{"id":"6019265d.c65378","type":"OpcUa-Item","z":"dcfbba4c.b4af38","item":"ns=2;s=AB PLC.MICRO850.MovePara","datatype":"Boolean","value":"","name":"MovePara","x":710,"y":120,"wires":[["593c262f.84c508"]]},{"id":"9a494883.3c1ff8","type":"OpcUa-Item","z":"dcfbba4c.b4af38","item":"ns=2;s=AB PLC.MICRO850.MoveToPosition_IOT_BT","datatype":"Boolean","value":"","name":"MoveToPosition_IOT_BT","x":670,"y":340,"wires":[["593c262f.84c508"]]},{"id":"41bdc191.a9da5","type":"OpcUa-Item","z":"dcfbba4c.b4af38","item":"ns=2;s=AB PLC.MICRO850.Kp_IOT_DOWN_1","datatype":"Float","value":"","name":"Kp_IOT_DOWN_1","x":690,"y":460,"wires":[["593c262f.84c508"]]},{"id":"6049aaa0.cc4254","type":"inject","z":"dcfbba4c.b4af38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":460,"wires":[["441c908e.969b4"]]},{"id":"af422563.a865f8","type":"OpcUa-Item","z":"dcfbba4c.b4af38","item":"ns=2;s=AB PLC.MICRO850.Ki_IOT_DOWN_1","datatype":"Float","value":"","name":"Ki_IOT_DOWN_1","x":690,"y":500,"wires":[["593c262f.84c508"]]},{"id":"1c31d20c.14c97e","type":"OpcUa-Item","z":"dcfbba4c.b4af38","item":"ns=2;s=AB PLC.MICRO850.Kd_IOT_DOWN_1","datatype":"Float","value":"","name":"Kd_IOT_DOWN_1","x":690,"y":540,"wires":[["593c262f.84c508"]]},{"id":"374bef81.62f02","type":"OpcUa-Item","z":"dcfbba4c.b4af38","item":"ns=2;s=AB PLC.MICRO850.Desired_Position","datatype":"Float","value":"","name":"Desired_Position_IOT","x":700,"y":580,"wires":[["593c262f.84c508"]]},{"id":"8e75eb01.538d68","type":"debug","z":"dcfbba4c.b4af38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":240,"wires":[]},{"id":"682be21d.a9686c","type":"inject","z":"245c0c74.e43304","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["bc4c9c74.171a"]]},{"id":"bc4c9c74.171a","type":"AWS DynamoDB","z":"245c0c74.e43304","aws":"90890eb45076acb6","operation":"Scan","Statements":"","RequestItems":"","TableName":"MachineLearning","BackupName":"","GlobalTableName":"","ReplicationGroup":"","AttributeDefinitions":"","KeySchema":"","BackupArn":"","Key":"","ExportArn":"","Statement":"","TransactStatements":"","TableArn":"","S3Bucket":"","ResourceArn":"","Item":"","TargetTableName":"","Tags":"","TransactItems":"","TagKeys":"","PointInTimeRecoverySpecification":"","ContributorInsightsAction":"","ReplicaUpdates":"","TimeToLiveSpecification":"","name":"","x":330,"y":200,"wires":[["dc612210.300ba","4db16926.bda6c8"],[]]},{"id":"dc612210.300ba","type":"debug","z":"245c0c74.e43304","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":80,"wires":[]},{"id":"8581fa6c.e943b8","type":"AWS DynamoDB","z":"245c0c74.e43304","aws":"90890eb45076acb6","operation":"PutItem","Statements":"","RequestItems":"","TableName":"Device","BackupName":"","GlobalTableName":"","ReplicationGroup":"","AttributeDefinitions":"","KeySchema":"","BackupArn":"","Key":"","ExportArn":"","Statement":"","TransactStatements":"","TableArn":"","S3Bucket":"","ResourceArn":"","Item":"","TargetTableName":"","Tags":"","TransactItems":"","TagKeys":"","PointInTimeRecoverySpecification":"","ContributorInsightsAction":"","ReplicaUpdates":"","TimeToLiveSpecification":"","name":"","x":560,"y":500,"wires":[[],["49b62390.a00a4c"]]},{"id":"49b62390.a00a4c","type":"debug","z":"245c0c74.e43304","name":"table Device","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":500,"wires":[]},{"id":"6b94a08e.97ff6","type":"inject","z":"dcfbba4c.b4af38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":230,"y":100,"wires":[["6019265d.c65378"]]},{"id":"26885743.7d3fd8","type":"inject","z":"dcfbba4c.b4af38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":230,"y":140,"wires":[["6019265d.c65378"]]},{"id":"fdd9a761.8d12a8","type":"inject","z":"dcfbba4c.b4af38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":230,"y":300,"wires":[["9a494883.3c1ff8","849effca.42f8d"]]},{"id":"fe7dd64a.5a1a18","type":"inject","z":"dcfbba4c.b4af38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":230,"y":340,"wires":[["9a494883.3c1ff8","849effca.42f8d"]]},{"id":"a0c74900.e73fe8","type":"inject","z":"7a3fc077.94b8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":220,"wires":[["9cb1f4e.7895608"]]},{"id":"ddb417b8.d7e698","type":"inject","z":"2a74798b.2447a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":300,"wires":[["1886d813.734cc8"]]},{"id":"1886d813.734cc8","type":"function","z":"2a74798b.2447a6","name":"read array of cv","func":"msg.payload = global.get(\"Temp\")\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar CVobject = [];\nglobal.set(\"Temp\",CVobject);","finalize":"","x":340,"y":300,"wires":[["30925fec.11535"]]},{"id":"30925fec.11535","type":"debug","z":"2a74798b.2447a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":300,"wires":[]},{"id":"c7112554.c36348","type":"inject","z":"7a3fc077.94b8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":500,"wires":[["58c17112.13c36"]]},{"id":"78aaaac4.5e71c4","type":"inject","z":"7a3fc077.94b8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":420,"wires":[["873fb880.ff9508"]]},{"id":"ab1ea429.9fca48","type":"inject","z":"7a3fc077.94b8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":380,"wires":[["37f2d056.adda5"]]},{"id":"f9aef047.29bd6","type":"inject","z":"7a3fc077.94b8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":340,"wires":[["675c21c0.565e"]]},{"id":"752065fb.e99c9c","type":"inject","z":"7a3fc077.94b8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":300,"wires":[["d7309b0b.2ada18"]]},{"id":"bf96ce66.70a43","type":"inject","z":"7a3fc077.94b8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":260,"wires":[["158c1be5.725e54"]]},{"id":"d5a80aed.e60e38","type":"inject","z":"2a74798b.2447a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":240,"wires":[["67fbfa89.820c64"]]},{"id":"67fbfa89.820c64","type":"function","z":"2a74798b.2447a6","name":"acquire data","func":"if((global.get(\"STATUS\") == true) && (global.get(\"autotune_bit_status\") == false))\n{\n    var cvob = global.get(\"Temp\")\n    cvob.push(global.get(\"Curdis_mm\"))\n    global.set(\"Temp\",cvob);\n    if(global.get(\"STOP\") == false)\n    {\n        const d = new Date();\n        let time = d.getTime();\n        if(time - global.get(\"reading_time\") >= 20000 )\n        {\n            global.set(\"STOP\",true);\n        }\n        var timemo = (time - global.get(\"reading_time\"))/1000\n        if(timemo>=20.0)\n        {\n            timemo = 20.0\n        }\n        global.set(\"time_move\",timemo);\n    }\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar CVobject = [];\nglobal.set(\"Temp\",CVobject);\nglobal.set(\"STOP\",false);\nglobal.set(\"time_move\",0);\n","finalize":"","x":330,"y":240,"wires":[[]]},{"id":"2c3d3e19.b5c662","type":"inject","z":"2a74798b.2447a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":400,"wires":[["1574c01f.f434f"]]},{"id":"1574c01f.f434f","type":"function","z":"2a74798b.2447a6","name":"caculate quality criterias","func":"if(global.get(\"STOP\") == true && global.get(\"STATUS\") == false && (global.get(\"autotune_bit_status\") == false) )\n{\n    array1 = global.get(\"Temp\")\n    //array1 = [0, 0.00239583333333334,0.00677389973958334,0.0155689615499916,0.0290469895948373,0.0472639414992979,0.0701035314471592,0.0973138833341263,0.128539718441116,0.163350392542609,0.201264091454538,0.241768491982681,0.284338190400438,0.328449193316094,0.373590756421204,0.419274845473326,0.465043481275419,0.510474216672515,0.555183978976805,0.598831496016918,0.641118508425897,0.681789955051666,0.720633302686915,0.757477175842118,0.792189427172771,0.824674774544856,0.854872116684727,0.882751625995117,0.908311704493069,0.931575876986890,0.952589684590228,0.971417631491128,0.988140228558493,1.00285116887314,1.01565466260136,1.02666295176316,1.03599401935592,1.04376950194295,1.05011281016492,1.05514745764015,1.05899559534022,1.06177674571599,1.06360672855791,1.06459676875744,1.06485277474612,1.06447477538180,1.06355650238197,1.06218510503289,1.06044098378762,1.05839772947203,1.05612215510769,1.05367440780441,1.05110814874208,1.04847078992507,1.04580377712905,1.04314290924662,1.04051868505752,1.03795666928273,1.03547787061615,1.03309912525039,1.03083348021352,1.02869057160348,1.02667699353977,1.02479665434138,1.02305111708374,1.02143992228164,1.01996089098833,1.01861040709379,1.01738367804601,1.01627497361062,1.01527784262648,1.01438530801135,1.01359004052297,1.01288451199183,1.01226112891295,1.01171234742044,1.01123077077169,1.01080923054221,1.01044085277967,1.01011911039001,1.00983786303216,1.00959138578436,1.00937438781608,1.00900988841338,1.00871091215352,1.00845087929679,1.00820957095309,1.00797242492200,1.00772972750434,1.00747577106150,1.00720803015635,1.00692639399915,1.00648174897293,1.00601947875081,1.00555163239040,1.00509011152925,1.00464515532315,1.00422458325359,1.00383359588607,1.00347494784692,1.00314933611034,1.00285588163906,1.00259261749494,1.00235692793628,1.00214590874978,1.00195663847540,1.00178636353455,1.00163260837924,1.00149322571310,1.00136640271569,1.00125063806088,1.00114470222590,1.00104759080788,1.00095847777520,1.00087667308114,1.00080158701569,1.00073270212192,1.00066955243376,1.00061170914068,1.00055877146588,1.00051036146922,1.00046612157356,1.00042571379327,1.00038881986370,1.00035514169240,1.00032440175257,1.00029634320376,1.00027072965010,1.00024734453310,1.00022599021022,1.00020648679764,1.00018867086336,1.00017239405169,1.00015752170732,1.00014393155080,1.00013151244106,1.00012016324541,1.00010979182542,1.00010031413785,1.00009165344363,1.00008373961401,1.00007650852166,1.00006990150408,1.00006386488784,1.00005834956343,1.00005331060222,1.00004870690873,1.00004450090294,1.00004065822862,1.00003714748470,1.00003393997745,1.00003100949174]\n    var i,max = 0,first_T = 0 \n    for(i=0; i<array1.length;i++)\n    {\n        if (max < array1[i])\n        {\n            max = array1[i]\n        }\n    }\n    for(i = (array1.length)-1; i>=0 ;i--)\n    {\n        if ((Math.abs(array1[i]-global.get(\"Dis_mm\"))) > (0.02*global.get(\"Dis_mm\")) && (first_T == 0) )\n        {\n            msg.index = array1.indexOf(array1[i])\n            first_T+=1\n        }\n    }\n    msg.overshoot = (max-global.get(\"Dis_mm\"))/(global.get(\"Dis_mm\"))*100\n    msg.SSE = Math.abs(((array1[(array1.length) - 1]) - global.get(\"Dis_mm\")))/(global.get(\"Dis_mm\"))*100\n    global.set(\"done\",1); //sua cho nay\n    global.set(\"Movetopos\",false);\n    global.set(\"STOP\",false); \n    return msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar CVobject = [];\nglobal.set(\"Temp\",CVobject);\nglobal.get(\"STOP\")||0;","finalize":"","x":350,"y":400,"wires":[["a056921e.53fd5","e0271185.b3afd","f49a752.0f95e88"]]},{"id":"a056921e.53fd5","type":"function","z":"2a74798b.2447a6","name":"","func":"if(msg.overshoot <= 0)\n{\n    msg.overshoot = 0\n}\nmsg.payload = msg.overshoot\nglobal.set(\"Overshoot\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.get(\"Overshoot\")||0;","finalize":"","x":560,"y":360,"wires":[["f923bd0a.f476e"]]},{"id":"e0271185.b3afd","type":"function","z":"2a74798b.2447a6","name":"","func":"msg.payload = (msg.index + 1)*0.1*200.0/194.0\nglobal.set(\"Settlingtime\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.get(\"Settlingtime\")||0;","finalize":"","x":560,"y":400,"wires":[["2c99474e.201368"]]},{"id":"f49a752.0f95e88","type":"function","z":"2a74798b.2447a6","name":"","func":"msg.payload = msg.SSE\nglobal.set(\"SSerror\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.get(\"SSerror\")||0;","finalize":"","x":560,"y":440,"wires":[["559a8700.ea9498"]]},{"id":"f923bd0a.f476e","type":"debug","z":"2a74798b.2447a6","name":"OVERSHOOT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":360,"wires":[]},{"id":"2c99474e.201368","type":"debug","z":"2a74798b.2447a6","name":"Settling time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":400,"wires":[]},{"id":"559a8700.ea9498","type":"debug","z":"2a74798b.2447a6","name":"Steady State Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":440,"wires":[]},{"id":"be5718fc.90bcf8","type":"inject","z":"2a74798b.2447a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":500,"wires":[["b191b189.fe4ef"]]},{"id":"b191b189.fe4ef","type":"function","z":"2a74798b.2447a6","name":"Reset","func":"if(global.get(\"movepara_down\") == true)\n{\n    var CVobject = [];\n    global.set(\"Temp\",CVobject);\n    const d = new Date();\n    let time = d.getTime();\n    global.set(\"reading_time\",time);\n    //global.set(\"Movetopos\",false); //da sua cho nay\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.get(\"reading_time\")||0;","finalize":"","x":290,"y":500,"wires":[[]]},{"id":"849effca.42f8d","type":"function","z":"dcfbba4c.b4af38","name":"","func":"global.set(\"Movetopos\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.get(\"Movetopos\")||0;","finalize":"","x":500,"y":300,"wires":[[]]},{"id":"96bb35c4.17b628","type":"function","z":"40b78cfe.a17044","name":"Read Stop bit","func":"msg.payload = global.get(\"STOP\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":360,"wires":[["cd934a7.193fdb8"]]},{"id":"897241f0.74ca","type":"inject","z":"40b78cfe.a17044","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":360,"wires":[["96bb35c4.17b628"]]},{"id":"cd934a7.193fdb8","type":"debug","z":"40b78cfe.a17044","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":340,"wires":[]},{"id":"4db16926.bda6c8","type":"function","z":"245c0c74.e43304","name":"","func":"var object = msg.payload\nmsg.id = object.Items[0].object.M.currentID.N\nmsg.Kp = object.Items[0].object.M.PID.M.kp.S\nmsg.Ki = object.Items[0].object.M.PID.M.ki.S\nmsg.Kd = object.Items[0].object.M.PID.M.kd.S\nmsg.SP = object.Items[0].object.M.control.M.setpoint.S\nmsg.movepara = object.Items[0].object.M.control.M.controlBit.M.movePara.BOOL\nmsg.autotune = object.Items[0].object.M.control.M.controlBit.M.autoTune.BOOL\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":160,"wires":[["ccaa403c.d7874","3ad0206f.d2744","3fd49ccb.954bd4","2f990b5.d9809f4","506cbd11.f6e314","fa2eac07.4011c","eee65957.9b6628"]]},{"id":"65bf8991.f7c1c8","type":"debug","z":"245c0c74.e43304","name":"Kp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":160,"wires":[]},{"id":"ccaa403c.d7874","type":"function","z":"245c0c74.e43304","name":"","func":"msg.payload = parseFloat(msg.Kp)\nglobal.set(\"Kp_down\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"Kp_down\",0);","finalize":"","x":720,"y":160,"wires":[["65bf8991.f7c1c8"]]},{"id":"3ad0206f.d2744","type":"function","z":"245c0c74.e43304","name":"","func":"msg.payload = parseFloat(msg.Ki)\nglobal.set(\"Ki_down\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"Ki_down\",0);","finalize":"","x":720,"y":200,"wires":[["7ce2390e.830918"]]},{"id":"3fd49ccb.954bd4","type":"function","z":"245c0c74.e43304","name":"","func":"msg.payload = parseFloat(msg.Kd)\nglobal.set(\"Kd_down\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"Kd_down\",0);","finalize":"","x":720,"y":240,"wires":[["8c1a1bf1.5338c8"]]},{"id":"7ce2390e.830918","type":"debug","z":"245c0c74.e43304","name":"Ki","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":200,"wires":[]},{"id":"8c1a1bf1.5338c8","type":"debug","z":"245c0c74.e43304","name":"Kd","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"441c908e.969b4","type":"function","z":"dcfbba4c.b4af38","name":"","func":"msg.payload = (global.get(\"Kp_down\")||0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":460,"wires":[["b6f6c7f4.59b1f8","41bdc191.a9da5"]]},{"id":"d6c5a209.9c7b4","type":"function","z":"dcfbba4c.b4af38","name":"","func":"msg.payload = (global.get(\"Ki_down\")||0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":500,"wires":[["153d58be.87d407","af422563.a865f8"]]},{"id":"4f56a17f.36199","type":"function","z":"dcfbba4c.b4af38","name":"","func":"msg.payload = (global.get(\"Kd_down\")||0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":540,"wires":[["33409321.e37a7c","1c31d20c.14c97e"]]},{"id":"755e359.cb529cc","type":"inject","z":"dcfbba4c.b4af38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":500,"wires":[["d6c5a209.9c7b4"]]},{"id":"c051088c.cd4518","type":"inject","z":"dcfbba4c.b4af38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":540,"wires":[["4f56a17f.36199"]]},{"id":"506cbd11.f6e314","type":"function","z":"245c0c74.e43304","name":"","func":"msg.payload = msg.SP\nmsg.payload = parseFloat(msg.SP)\nglobal.set(\"SP_down\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"SP_down\",0);","finalize":"","x":720,"y":280,"wires":[["31960990.ac7536"]]},{"id":"31960990.ac7536","type":"debug","z":"245c0c74.e43304","name":"SP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":280,"wires":[]},{"id":"d9343d0c.b61d4","type":"inject","z":"dcfbba4c.b4af38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":380,"wires":[["7e46b21a.e8c4cc"]]},{"id":"7e46b21a.e8c4cc","type":"function","z":"dcfbba4c.b4af38","name":"","func":"msg.payload = global.get(\"Movetopos\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"Movetopos\",false);","finalize":"","x":420,"y":380,"wires":[["822d6939.0eb7c8","9a494883.3c1ff8"]]},{"id":"6545dd90.089c74","type":"OpcUa-Item","z":"dcfbba4c.b4af38","item":"ns=2;s=AB PLC.MICRO850.MoveToPosition_IOT_STOP","datatype":"Boolean","value":"","name":"STOP","x":730,"y":200,"wires":[["593c262f.84c508"]]},{"id":"788b7ab1.9851e4","type":"inject","z":"dcfbba4c.b4af38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":220,"wires":[["2cdaf148.8df77e"]]},{"id":"2cdaf148.8df77e","type":"function","z":"dcfbba4c.b4af38","name":"","func":"msg.payload = global.get(\"STOP\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":240,"wires":[["6545dd90.089c74"]]},{"id":"ae67e3b3.d72ee","type":"inject","z":"dcfbba4c.b4af38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":410,"y":160,"wires":[["6545dd90.089c74"]]},{"id":"8490eb44.5cbc98","type":"inject","z":"dcfbba4c.b4af38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":410,"y":200,"wires":[["6545dd90.089c74"]]},{"id":"de0b49e3.335758","type":"OpcUa-Item","z":"7a3fc077.94b8c","item":"ns=2;s=AB PLC.MICRO850.Distance_mm","datatype":"Float","value":"","name":"Distance_mm","x":280,"y":540,"wires":[["492a09ff.41a548"]]},{"id":"511c0000.d98b1","type":"OpcUa-Item","z":"7a3fc077.94b8c","item":"ns=2;s=AB PLC.MICRO850.Current_Distance_mm","datatype":"Float","value":"","name":"Current_Distance_mm","x":300,"y":580,"wires":[["492a09ff.41a548"]]},{"id":"eaf2c85d.8d4f08","type":"inject","z":"7a3fc077.94b8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":540,"wires":[["de0b49e3.335758"]]},{"id":"52451bd4.04d764","type":"inject","z":"7a3fc077.94b8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":580,"wires":[["511c0000.d98b1"]]},{"id":"6c75ba38.ad8994","type":"function","z":"7a3fc077.94b8c","name":"","func":"if(msg.topic == \"ns=2;s=AB PLC.MICRO850.Distance_mm\")\n{\n    global.set(\"Dis_mm\",msg.payload);\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"Dis_mm\",0);","finalize":"","x":600,"y":540,"wires":[["2e8a90bc.091c2"]]},{"id":"2e8a90bc.091c2","type":"debug","z":"7a3fc077.94b8c","name":"Distance_mm","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":540,"wires":[]},{"id":"280708d6.c7ff38","type":"function","z":"7a3fc077.94b8c","name":"","func":"if(msg.topic == \"ns=2;s=AB PLC.MICRO850.Current_Distance_mm\")\n{\n    global.set(\"Curdis_mm\",msg.payload);\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"Curdis_mm\",0);","finalize":"","x":600,"y":580,"wires":[["6603e2c1.b6efdc"]]},{"id":"6603e2c1.b6efdc","type":"debug","z":"7a3fc077.94b8c","name":"Current_Distance_mm","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":580,"wires":[]},{"id":"fa2eac07.4011c","type":"function","z":"245c0c74.e43304","name":"","func":"msg.payload = msg.movepara\nglobal.set(\"movepara_down\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"movepara_down\",false);","finalize":"","x":720,"y":320,"wires":[["bf0df1ac.4aec4"]]},{"id":"bf0df1ac.4aec4","type":"debug","z":"245c0c74.e43304","name":"movepara","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":320,"wires":[]},{"id":"eee65957.9b6628","type":"function","z":"245c0c74.e43304","name":"","func":"msg.payload = msg.autotune\nglobal.set(\"autotune\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":360,"wires":[["ce379d3f.ea027"]]},{"id":"ce379d3f.ea027","type":"debug","z":"245c0c74.e43304","name":"bit autotune ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":360,"wires":[]},{"id":"5a4c34a5.8172fc","type":"function","z":"dcfbba4c.b4af38","name":"","func":"msg.payload = global.get(\"movepara_down\")\nif((msg.payload == false) && (global.get(\"pre_movepara_down\") == true ))\n{\n    global.set(\"Movetopos\",true);\n}\nif((global.get(\"STATUS\") == true) && (global.get(\"autotune_bit_status\") == true))\n{\n    global.set(\"Movetopos\",false);\n}\n\nglobal.set(\"pre_movepara_down\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"pre_movepara_down\",false);","finalize":"","x":420,"y":60,"wires":[["75eafa29.98b5f4","6019265d.c65378"]]},{"id":"6d0924d3.9dc23c","type":"inject","z":"dcfbba4c.b4af38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":60,"wires":[["5a4c34a5.8172fc"]]},{"id":"e036315f.fe534","type":"function","z":"dcfbba4c.b4af38","name":"","func":"msg.payload = (global.get(\"SP_down\")||0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":580,"wires":[["ae2745a.34776b8","374bef81.62f02"]]},{"id":"b6f6c7f4.59b1f8","type":"debug","z":"dcfbba4c.b4af38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":640,"wires":[]},{"id":"153d58be.87d407","type":"debug","z":"dcfbba4c.b4af38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":680,"wires":[]},{"id":"33409321.e37a7c","type":"debug","z":"dcfbba4c.b4af38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":720,"wires":[]},{"id":"ae2745a.34776b8","type":"debug","z":"dcfbba4c.b4af38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":760,"wires":[]},{"id":"75eafa29.98b5f4","type":"debug","z":"dcfbba4c.b4af38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":40,"wires":[]},{"id":"822d6939.0eb7c8","type":"debug","z":"dcfbba4c.b4af38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":80,"wires":[]},{"id":"63140d8a.3b12f4","type":"inject","z":"dcfbba4c.b4af38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":580,"wires":[["e036315f.fe534"]]},{"id":"3d9317f1.cef848","type":"function","z":"245c0c74.e43304","name":"","func":"var params = {\n  TableName: 'Device',\n  Item: {\n \"ID\": {\n  \"N\": \"1\"\n },\n \"Name\": {\n  \"S\": \"Motor\"\n },\n \"object\": {\n  \"M\": {\n   \"online\": {\n    \"BOOL\": global.get(\"Online\")\n   },\n   \"currentID\": {\n    \"N\": global.get(\"Current_id\").toString()\n   },\n   \"PID\": {\n    \"M\": {\n     \"kp\": {\n      \"N\": (global.get(\"Kp\")||0).toString()\n     },\n     \"kd\": {\n      \"N\": (global.get(\"Kd\")||0).toString()\n     },\n     \"ki\": {\n      \"N\": (global.get(\"Ki\")||0).toString()\n     }\n    }\n   },\n   \"time\": {\n    \"M\": {\n     \"day\": {\n      \"S\": \"01/10/2021\"\n     },\n     \"time\": {\n      \"S\": (global.get(\"time_move\")).toString()\n     }\n    }\n   },\n   \"parameterPID\": {\n    \"M\": {\n     \"sp\": {\n      \"N\": (global.get(\"SP\")||0).toString()\n     },\n     \"pv\": {\n      \"N\": (global.get(\"PV\")||0).toString()\n     },\n     \"cv\": {\n      \"N\": (global.get(\"CV\")||0).toString()\n     }\n    }\n   },\n   \"busy\": {\n    \"BOOL\": global.get(\"STATUS\")\n   },\n   \"quality\": {\n    \"M\": {\n     \"steadyStateError\": {\n      \"N\": (global.get(\"SSerror\")||0).toString()\n     },\n     \"overshoot\": {\n      \"N\": (global.get(\"Overshoot\")||0).toString()\n     },\n     \"settlingTime\": {\n      \"N\": (global.get(\"Settlingtime\")||0).toString()\n     }\n    }\n   }\n  }\n }\n}\n};\n\nreturn params","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":500,"wires":[["8581fa6c.e943b8"]]},{"id":"f8cd53f0.91c75","type":"OpcUa-Item","z":"7a3fc077.94b8c","item":"ns=2;s=AB PLC.MICRO850.Online","datatype":"Boolean","value":"","name":"Online","x":250,"y":180,"wires":[["492a09ff.41a548"]]},{"id":"835e7396.68ca9","type":"function","z":"7a3fc077.94b8c","name":"","func":"if(msg.topic == \"ns=2;s=AB PLC.MICRO850.Online\")\n{\n    global.set(\"Online\",msg.payload);\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.get(\"Online\")||0;","finalize":"","x":600,"y":180,"wires":[["68812e26.bbe62"]]},{"id":"68812e26.bbe62","type":"debug","z":"7a3fc077.94b8c","name":"Online","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":180,"wires":[]},{"id":"72327b34.687464","type":"inject","z":"7a3fc077.94b8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":180,"wires":[["f8cd53f0.91c75"]]},{"id":"26a488f8.486668","type":"inject","z":"245c0c74.e43304","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":500,"wires":[["84ad1089.d619d","3d9317f1.cef848"]]},{"id":"2f990b5.d9809f4","type":"function","z":"245c0c74.e43304","name":"","func":"msg.payload = parseFloat(msg.id)\nglobal.set(\"Current_id\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"Current_id\",0);","finalize":"","x":720,"y":120,"wires":[["1b888cc5.3ed363"]]},{"id":"1b888cc5.3ed363","type":"debug","z":"245c0c74.e43304","name":"Current ID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":120,"wires":[]},{"id":"84ad1089.d619d","type":"function","z":"245c0c74.e43304","name":"","func":"var params = {\n  TableName: 'Storage',\n  Item: {\n  \"ID\": {\n    \"N\": global.get(\"Current_id\").toString()\n  },\n  \"Name\": {\n    \"S\": \"Motor\"\n  },\n  \"object\": {\n    \"M\": {\n      \"PID\": {\n        \"M\": {\n          \"kp\": {\n            \"N\": (global.get(\"Kp\")||0).toString()\n          },\n          \"kd\": {\n            \"N\": (global.get(\"Kd\")||0).toString()\n          },\n          \"ki\": {\n            \"N\": (global.get(\"Ki\")||0).toString()\n          }\n        }\n      },\n      \"time\": {\n        \"M\": {\n          \"day\": {\n            \"S\": \"01/10/2021\"\n          },\n          \"time\": {\n            \"S\": \"13:00:00\"\n          }\n        }\n      },\n      \"quality\": {\n        \"M\": {\n          \"steadyStateError\": {\n            \"N\": (global.get(\"SSerror\")||0).toString()\n          },\n          \"overshoot\": {\n            \"N\": (global.get(\"Overshoot\")||0).toString()\n          },\n          \"settlingTime\": {\n            \"N\": (global.get(\"Settlingtime\")||0).toString()\n          }\n        }\n      }\n    }\n  }\n}\n};\n\nreturn params","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":580,"wires":[["25fea9a.9532956"]]},{"id":"25fea9a.9532956","type":"AWS DynamoDB","z":"245c0c74.e43304","aws":"90890eb45076acb6","operation":"PutItem","Statements":"","RequestItems":"","TableName":"Storage","BackupName":"","GlobalTableName":"","ReplicationGroup":"","AttributeDefinitions":"","KeySchema":"","BackupArn":"","Key":"","ExportArn":"","Statement":"","TransactStatements":"","TableArn":"","S3Bucket":"","ResourceArn":"","Item":"","TargetTableName":"","Tags":"","TransactItems":"","TagKeys":"","PointInTimeRecoverySpecification":"","ContributorInsightsAction":"","ReplicaUpdates":"","TimeToLiveSpecification":"","name":"","x":600,"y":580,"wires":[[],["ad62ff6d.28f6d"]]},{"id":"ad62ff6d.28f6d","type":"debug","z":"245c0c74.e43304","name":"table Storage","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":580,"wires":[]},{"id":"a2e0ab05.e00ed8","type":"inject","z":"245c0c74.e43304","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":760,"wires":[["9a6c9a4a.638418"]]},{"id":"9a6c9a4a.638418","type":"function","z":"245c0c74.e43304","name":"","func":"msg.payload = global.get(\"Current_id\").toString()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":780,"wires":[["58f07ac1.9fbf54"]]},{"id":"58f07ac1.9fbf54","type":"debug","z":"245c0c74.e43304","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":780,"wires":[]},{"id":"e71bb0ec.96a88","type":"inject","z":"245c0c74.e43304","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":640,"wires":[["15981870.8280d8"]]},{"id":"6183a520.b947cc","type":"inject","z":"245c0c74.e43304","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":190,"y":680,"wires":[["15981870.8280d8"]]},{"id":"15981870.8280d8","type":"function","z":"245c0c74.e43304","name":"","func":"\nglobal.set(\"movepara_down\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"movepara_down\",false);","finalize":"","x":320,"y":660,"wires":[[]]},{"id":"981669e0.19a638","type":"function","z":"2a74798b.2447a6","name":"Read time operation","func":"msg.payload = global.get(\"time_move\")\n// if(msg.payload >=20.0)\n// {\n//     msg.payload = 20.0\n// }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":600,"wires":[["e10e5f0e.36012"]]},{"id":"fe13822e.23a25","type":"inject","z":"2a74798b.2447a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":600,"wires":[["981669e0.19a638"]]},{"id":"e10e5f0e.36012","type":"debug","z":"2a74798b.2447a6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":580,"wires":[]},{"id":"fc55df1c.74bb7","type":"function","z":"dcfbba4c.b4af38","name":"autotune_bit","func":"msg.payload = global.get(\"autotune\");\nif((msg.payload == true) && (global.get(\"Pre_autotune\") == false))\n{\n    global.set(\"exe_autotune\",true);\n}\nelse\n{\n    global.set(\"exe_autotune\",false);\n}\nglobal.set(\"Pre_autotune\",msg.payload);\nif(global.get(\"exe_autotune\") == true)\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"autotune\",false);\nglobal.set(\"Pre_autotune\",false);\nglobal.set(\"exe_autotune\",false);","finalize":"","x":430,"y":420,"wires":[["c3cc0d8b.ff889","63348224.4ec61c"]]},{"id":"c3cc0d8b.ff889","type":"debug","z":"dcfbba4c.b4af38","name":"autotune_bit","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":420,"wires":[]},{"id":"d919be5e.c3b68","type":"inject","z":"dcfbba4c.b4af38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":420,"wires":[["fc55df1c.74bb7"]]},{"id":"63348224.4ec61c","type":"OpcUa-Item","z":"dcfbba4c.b4af38","item":"ns=2;s=AB PLC.MICRO850.Begin_autotune","datatype":"Boolean","value":"","name":"Begin_autotune","x":700,"y":380,"wires":[["593c262f.84c508"]]},{"id":"3b417f25.506fd","type":"inject","z":"245c0c74.e43304","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":470,"y":420,"wires":[["eee65957.9b6628"]]},{"id":"8b35eba0.f43378","type":"inject","z":"245c0c74.e43304","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":470,"y":380,"wires":[["eee65957.9b6628"]]},{"id":"981e4837.60f198","type":"OpcUa-Item","z":"7a3fc077.94b8c","item":"ns=2;s=AB PLC.MICRO850.Begin_autotune","datatype":"Boolean","value":"","name":"autotune_bit_status","x":290,"y":620,"wires":[["492a09ff.41a548"]]},{"id":"10e8edc2.94c1b2","type":"inject","z":"7a3fc077.94b8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":620,"wires":[["981e4837.60f198"]]},{"id":"8197238d.651f8","type":"function","z":"7a3fc077.94b8c","name":"","func":"if(msg.topic == \"ns=2;s=AB PLC.MICRO850.Begin_autotune\")\n{\n    global.set(\"autotune_bit_status\",msg.payload);\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"autotune_bit_status\",false);","finalize":"","x":600,"y":620,"wires":[["9c48e26.a2fcc2"]]},{"id":"9c48e26.a2fcc2","type":"debug","z":"7a3fc077.94b8c","name":"autotune_bit_status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":620,"wires":[]}]